@import "tailwindcss";

:root {
  /* --- LIGHT MODE --- */
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #f9fafb; /* Abu-abu sangat terang untuk area Profile/Card */
  --border-color: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Menambahkan custom color agar bisa dipanggil di class Tailwind */
  --color-card: var(--card-bg);
  --color-border: var(--border-color);
}

/* --- DARK MODE --- */
/* Gunakan .dark agar sinkron dengan tombol klik, bukan bawaan OS (media query) */
.dark {
  --background: #212121; /* Warna background utama pada gambar */
  --foreground: #ededed; /* Warna teks utama */
  --card-bg: #1e1e1e;    /* Warna background card/sidebar pada gambar */
  --border-color: #27272a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi halus saat ganti tema */
}